# Файлы и папки операционной системы
.DS_Store
Thumbs.db
.env
.env.production

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*

# Папка с собранными файлами проекта
dist/
node_modules/
package-lock.json